<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Job Portal</title>
    <style>
        body { font-family: Arial; text-align: center; background: #f0f8ff; padding: 50px; }
        h1 { color: #0077cc; }
        a {
            display: inline-block;
            margin: 10px;
            padding: 10px 20px;
            background: #0077cc;
            color: white;
            border-radius: 5px;
            text-decoration: none;
        }
        a:hover { background: #005fa3; }
    </style>
</head>
<body>
    <h1>Welcome to Job Portal</h1>
    <a href="/login">Login</a>
    <a href="/register">Register</a>
</body>
<script>
  document.addEventListener("DOMContentLoaded", () => {
    console.log("Welcome to Job Portal!");
  });
</script>

</html>
